body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  height: 60px;
  color: darkgray;
  background-color: black;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
}

.aside {
  width: 20%;
  padding: 60px;
  border: 1px solid black;
}

.section-middle {
  width: 60%;
  border: 1px solid black;
}

.section-right {
  width: 00%;
  border: 1px solid black;
}

.links {
  display: flex;
  flex-direction: column;
}

.left-head {
  font-style: italic;
  font-weight: bold;
}
