body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  height: 60px;
  color: darkgray;
  background-color: black;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
}

.aside {
  width: 20%;
  padding: 60px;
  border: 1px solid black;
}

.section-middle {
  display: flex;
  width: 60%;
  height: 690px;
  padding: 5px 10px;
  border: 1px solid black;
  flex-direction: column;
  column-count: 3;
  column-gap: 0;
  flex-wrap: wrap;
}

.section-right {
  width: 20%;
  border: 1px solid black;
}

.links {
  display: flex;
  flex-direction: column;
}

.left-head {
  font-style: italic;
  font-weight: bold;
}
.img {
  width: 80%;
  border: 1px solid black;
}

.section-middle h1 {
  margin: 0;
}

.section-middle p {
  margin: 0;
}

.section-middle a {
  margin: 0;
}

.second-section {
  order: 3;
}

.section-middle section {
  width: 50%;
  margin-top: 20px;
}
